header{
    background-color: #FEECE2;
    padding: 20px;
    border: 2px solid #FFBE98;
}
header a{
    text-decoration: none;
}
header>div:first-child>span>a{
   color: #9195F6;
   font-size: 30px;
   font-weight: bold;

}
header>div:nth-child(2){
    margin-top: 10px;

}
header>div:nth-child(2)>span:first-child>a{
    color: #FFBE98;
    font-size: 30px;
}

header>div:nth-child(2)>span:last-child>a{
    color: #cb6156;
    font-size: 35px;
    margin-left: 25px;
    font-weight: bold;
}
header>div:nth-child(3)>span>a{
    color: #9195F6;
    font-size: 30px;
    margin-left: 40px;
    font-weight: bold;
}
main{
    background-color: #e0af92;
    width: 450px;
}

main>div{
    background-color: #14a114;
}